.logo {
    color: #000;
    text-decoration: none;
    font-family: Quicksand;
    font-size: 32px;

    font-weight: 700;
    line-height: 120%;

}

.button {
    background-color: #0F8277;
    color: #EEEEEE;
    border: none;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    padding: 10px 12px;
    text-decoration: none;
    border-radius: 4px;

}

.search {

    color: #5C5C5C;
    border: none;
    height: 36px;
    padding-left: 12px;
    outline: none;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    width: 330px;
}

.log-in {
    color: #0F8277;
    text-decoration: none;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.header {
    width: 1296px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 31px;
}

.button-explore::after {
    padding-left: 8px;
    content: url('../img/Frame.svg');
}


.search::after {
    content: url('../img/Group.svg');
}

.search-holder {
    display: flex;
    border-radius: 4px;
    border: 1px solid #5C5C5C;
}

.svg {
    background-color: #0F8277;
    padding: 10px;
}

.wrapper-section-1 {

    background-color: #DBF3ED;
    width: 1296px;
    margin: 0 auto;

}

.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 110px;
    margin-right: 60px;

}

.title {
    color: #000;
    font-family: Quicksand;
    font-size: 56px;
    font-weight: 700;
    line-height: 120%;
}

.title-after {
    width: 74%;
    color: #000;
    font-family: Quicksand;
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 38px;
}

.button-white {
    box-sizing: border-box;
    background-color: #DBF3ED;
    border: 2px solid #0F8277;
    color: #0F8277;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    padding: 9px 12px;
    text-decoration: none;
    border-radius: 4px;
    margin-left: 24px;

}

.img-academic-training {
    width: 416px;
    height: 298px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.green-text {
    color: #0F8277;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
}

.title-2 {
    color: #000;
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    margin-top: 12px;
    margin-bottom: 12px;
}

.text-after-title-2 {
    color: #000;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;

}

.block-academic-training {
    text-decoration: none;
    border: 1px solid #BABABA;
    height: 480px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.name-academic-training {
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    margin-left: 16px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.title-academic-training {
    color: #000;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    margin-left: 16px;
}

.diploma-academic-traning {
    color: #0F8277;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    margin-left: 16px;
    margin-bottom: 24px;
}

.diploma-academic-traning::before {
    content: url('../img/cds-react-aria-9.svg');
    margin-right: 12px;
    position: relative;
    bottom: -5px;
}

.program-wrapper {
    display: flex;
    gap: 24px;
    margin-top: 40px;

}

.wrapper-section-2 {
    width: 1296px;
    margin: 0 auto;
    margin-top: 80px;

}

.img-courses {
    width: 100%;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;


}

.block-courses {
    text-decoration: none;
    border: 1px solid #BABABA;
    height: 480px;
    width: 25%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.courses-wrapper {
    display: flex;
    gap: 24px;
    margin-top: 40px;

}

.wrapper-section-3 {
    width: 1296px;
    margin: 0 auto;
    margin-top: 80px;
}

.more-arrow {
    color: #0F8277;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    margin-top: 40px;
    margin-bottom: 83px;
    text-align: center;
}

.more-arrow::after {
    content: url('../img/arrow.svg');
    margin-left: 16px;
    position: relative;
    bottom: -3px;


}

.wrapper-section-4 {
    width: 1296px;
    margin: 0 auto;

}

.wrapper-section-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 32px;

}

.category-green-text {
    color: #0F8277;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
}

.category-black-text {
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    margin-top: 10px;

}

.category-title-text {
    color: #000;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
}

.img-companies {
    display: flex;
    justify-content: space-around;


}

.img-companies-item {
    height: 100%;
}

.wrapper-section-5 {
    box-sizing: border-box;
    text-align: center;
    background-color: #DBF3ED;
    width: 1386px;
    margin: 0 auto;
    padding: 80px 36px;
}

.text-section-6 {
    color: #000;
    font-family: Quicksand;
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 32px;
}

.img-companies-solution {
    display: grid;
    grid-template-columns: repeat(3, 196px);
    grid-template-rows: repeat(2, 136px);
    align-items: center;


}

.wrapper-section-6 {
    width: 1296px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.section-6-text-left {
    width: 50%;
}

.img-solution-item {
    padding: 30px;
    margin: 0 auto;


}

.img-solution-item-wrapper {
    text-align: center;
    width: 196px;
    height: 136px;
    border: 1px solid #BABABA;
}

.img-11 {
    border-left: none;
}

.img-12 {
    border-top: none;
}

.img-13 {
    border-right: none;
}

.img-14 {
    border-bottom: none;
}

.wrapper-section-7 {
    background-color: #DBF3ED;
    width: 1386px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 100px;

}

.choose-programm-wrapper {
    display: flex;
    gap: 24px;
    padding-left: 36px;
    padding-right: 36px;

}

.choose-programm-1 {
    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
    width: 33%;
    padding: 56px;
}

.choose-programm-2 {
    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #0F8277;
}

.title-choose-programm-1 {
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;

}

.text-choose-programm-1 {
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}

.price-choose-programm-1 {
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 45px;

}

.price-choose-programm-1::after {
    content: '/ mo';
    text-transform: uppercase;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    padding-left: 14px;
    position: relative;
    bottom: 10px;

}

.price-choose-programm-2 {
    color: #FFF;
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;


}

.price-choose-programm-2::after {
    content: '/ mo';
    text-transform: uppercase;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    padding-left: 14px;
    position: relative;
    bottom: 10px;

}

.price-choose-programm-3 {
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 30px;

}

.price-choose-programm-3::after {
    content: '/ Y';
    text-transform: uppercase;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    padding-left: 14px;
    position: relative;
    bottom: 10px;

}

.text-choose-programm-11 {
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;

}

.button-choose-programm-1 {
    display: block;
    width: 100px;
    color: #F6FDFF;
    font-family: Cabin;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.72px;
    background-color: #0F8277;
    padding: 10px 12px;
    text-decoration: none;
    border-radius: 4px;
    border: 2px solid #0F8277;
    margin-bottom: 48px;


}

.wrapper-text-choose-programm-2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 48px;
    border-top: 1px solid #FFF;
}

.choose-programm-color {
    background-color: #0F8277;
    color: #FFF;
    border-radius: 24px;
    border: 1px solid #0F8277;
}

.choose-programm-color-button {

    border-radius: 4px;
    border: 2px solid #FFF;
}

.title-2-center {
    text-align: center;
    margin-bottom: 40px;
}

.wrapper-text-choose-programm {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 48px;
    border-top: 1px solid #0F8277;
}

.wrapper-price-choose-programm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 27px;
}

.text-choose-programm-11::before {
    content: url('../img/Vector\ 2.svg');
    background-color: #0F8277;
    border-radius: 100%;
    margin-right: 16px;
    padding-left: 5px;
    padding-right: 5px;

}

.text-choose-programm-12::before {
    content: url('../img/Vector\ 2\ \(1\).svg');
    background-color: #FFF;
    border-radius: 100%;
    margin-right: 16px;
    padding-left: 5px;
    padding-right: 5px;
}

.wrapper-section-8 {
    width: 1296px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 76px;

}

.photos-holder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;

}

.item-2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 636px;
    height: 445px;
}

.item {
    width: 306px;
    height: 210px;
    object-fit: cover;
}

.wrapper-section-9 {
    position: relative;
    padding-top: 65px;
    padding-bottom: 48px;
    width: 1296px;
    margin: 0 auto;
    /*
    background-image: url(../img/image\ 32.png);
    background: linear-gradient(#00000099, rgba(0, 0, 0, 0.60));
   opacity: 0,1;
    */
}

.form {
    position: absolute;
    right: 350px;
    top: 150px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    background-color: #DBF3ED;
    width: 565px;
    margin: 0 auto;
    padding: 30px;

}

.field {
    border-radius: 4px;
    border: 1px solid #0F8277;
    background-color: #FDFDFD;
    color: #8E8E8E;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 12px;
    margin-bottom: 24px;
}

.form-text {
    color: #000;
    font-family: Quicksand;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 8px;

}

.form-button {
    width: 196px;
    padding: 10px 12px;
    border-radius: 4px;
    background-color: #0F8277;
    color: #F6FDFF;
    font-family: Cabin;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.72px;
    border: none;
}

.form-title {
    text-align: center;
}

.form-p {
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 24px;
}

.title-footer {
    color: #000;

    font-family: Quicksand;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.64px;
}

.text-footer {
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    width: 306px;
    margin-top: 16px;
}

.copiwriter-footer {
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    margin-top: 60px;
    margin-right: 36px;
}

.copiwriter-footer::before {
    content: '©';
    margin-right: 5px;
}

.footer {
    width: 1296px;
    margin: 0 auto;
    padding: 64px 36px;
    display: flex;
    justify-content: space-between;

}

.instagram {
    display: inline-block;
    background-image: url(../img/inst.svg);
    width: 32px;
    height: 32px;
}

.fb {
    display: inline-block;
    background-image: url(../img/fb.svg);
    width: 32px;
    height: 32px;
}

.li {
    display: inline-block;
    background-image: url(../img/li.svg);
    width: 32px;
    height: 32px;
}

.icon-footer {
    display: flex;
    gap: 24px;
    justify-content: right;
    padding-right: 36px;
}

.left-footer {
    padding-left: 36px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content a {
    text-decoration: none;
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;


}

.dropdown-content {
    margin-top: 4px;
    display: none;
    position: absolute;
    background-color: #FFF;
    width: 384px;
    padding: 16px 12px 33px 12px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.dropdown:hover .dropdown-line {
    border-bottom: 1px solid #000;
    padding-bottom: 40px;
}

.dropdown:hover .button .button-explore {
    background-color: #3e8e41;
}

.dropdown-content .dropdown-black-text {
    margin-top: 40px;
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 8px;

}

.img-black {

    position: relative;

}

.img-blackk {
    width: 1296px;

}

.overdwar {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to top, #00000099, rgba(0, 0, 0, 0.60));

}